
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ECECEC;
    font-size: 12px;
} 
.body {
    display: flex;
    margin-top: 70px;
    justify-content: center;
}
.personal{
    border-radius: 10px;
    width: 312px;
    background: #FFFFFF;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 30px;
    margin-bottom: 60px;
}
.personal-info {
    padding-left: 36px;
}
.info {
    font-size: 14px;
    padding-bottom: 8px;
}
.info-add {
    color: #A0A0A0;
    font-size: 14px;
    padding-bottom: 20px;
}
.button1 {
    border-radius: 5px;
    margin: 0px 20px;
    float: right;
    border-style: solid;
    padding-top: 4px;
    padding-bottom: 4px;
    border-color: rgba(190, 190, 190, 1);
    background-color: #FFFFFF;;
    margin-top: 27px;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: rgba(190, 190, 190, 1);
    font-family: 'Montserrat', sans-serif;
}
.nav-info {
    padding-top: 81px;
    padding-bottom: 215px;
}
.button-order,.button-exit{
    width: 282px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(4, 190, 0, 1);
    border-style: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-color: rgba(190, 190, 190, 1);
    margin-left: 15px;
    padding: 0px;
    margin-bottom: 20px;
}

.a-button-order {
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    text-align: center;
}
.button-exit {
    background-color:rgba(223, 13, 0, 1);
}
.panel{
    width: 876px;
    margin-left: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-top: 27px;
    padding-left: 29px;
    margin-bottom: 20px;
}
.balance {
    font-size: 14px;
    padding-bottom: 9px;
    font-weight: 500;
}
.points {
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 11px;
}
.points :nth-child(2) {
    color: rgba(190, 190, 190, 1);
}
.date {
    padding-bottom: 27px;
}
.panel2 {
    height: 580px;
    margin-left: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    padding-top: 21px;

}
.header h1 {
    margin: 0;
    padding-left: 29px;
    font-weight: 800;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 27px;
}
.columns {
    display: flex;
    padding-left: 29px;
    font-weight: 500;
    font-size: 12px;
    padding-right: 48px;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
    text-align: center;
}
.columns-back {
    height: 486px;
    background: #F3F3F3;
    border-radius: 0px 0px 10px 10px;
}
.btm-streamline, .btm-order-history {
    color: rgba(117, 117, 117, 1);
    font-weight: 500;
    border-radius: 20px;
    width: 170px;
    height: 35px;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    border-style: solid;
    background: #EAEAEA;
    border-color: rgba(234, 234, 234, 1);
    margin-left: 29px;
    margin-top: 24px;
    margin-bottom: 16px;
}
.order-history, .order-history-old {
    width: 855px;
    height: 62px;
    margin-left: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.order-history > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-history :nth-child(3) {
    width: 110px;
    text-align: center;
}
.order-history :nth-child(7) {
    color:  #F58020;
}
.order-history > div >a {
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    color: blue;
}
.btm-order-history {
    margin-top: 0;
}
.order-history-old {
    margin-bottom: 15px;
}
.order-history-old > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-history-old :nth-child(3) {
    width: 110px;
    text-align: center;
}
.order-history-old :nth-child(7) {
    color:  rgba(105, 160, 66, 1);
}
.order-history-old > div >a {
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    color: blue;
}
.social-bar {
    display: flex;
}
.footer {
    height: 100px;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-links {
    font-weight: 500;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    padding-right: 27px;
}
.links {
    display: flex;
}
.social-btn-tg-bg, .social-btn-fb-bg, .social-btn-ig-bg {
    background-image: url(../img/Ellipse-tel.png);
    height: 40px;
    width: 40px;
    margin-right: 18px;
}
.social-btn-fb-bg {
    background-image: url(../img/Ellipse-fb.png);
}
.social-btn-ig-bg {
    background-image: url(../img/Ellipse-inst.png);
}
.social-btn-tg {
    display: flex;
}
.social-btn-tg >a {
    text-align: center;
    justify-content: center;
}
img {
    margin-top: 12px;
    margin-left: 11px;
}


